[Unit]
Description=ClawbotOS First Boot Configuration
After=basic.target clawbot-swap.service
Before=multi-user.target picoclaw.service
ConditionPathExists=/.firstboot_clawbot

[Service]
ExecStart=/usr/local/bin/clawbot-firstboot
StandardInput=tty
TTYPath=/dev/tty2
TTYReset=yes
TTYVHangup=yes
TimeoutSec=300

[Install]
WantedBy=multi-user.target
