[Unit]
Description=ClawbotOS First Boot Configuration
After=network-online.target clawbot-cloud.service
ConditionPathExists=/.firstboot_clawbot

[Service]
ExecStart=/usr/local/bin/clawbot-firstboot
StandardInput=tty
TTYPath=/dev/tty2
TTYReset=yes
TTYVHangup=yes

[Install]
WantedBy=multi-user.target
